.html {
    height: 100%;
    width: 100%;
}

.body {
    height: 100%;
    width: 100%;
}


.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100%;
}

.item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100%;
}

.item3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100%;
}


.item1-txt {
    border: 1px solid black;
    width: 20%;
}

.item2-txt {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 20%;
}

.item3-txt {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 20%;
}

.popupinfo1 {
    width: 200px;
    height: 50%;
    border: 1px solid red;
}

.popupinfo2 {
    width: 200px;
    height: 50%;
    border: 1px solid red;
}

.popupinfo3 {
    width: 200px;
    height: 50%;
    border: 1px solid red;
}