
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.tab-icon {
    height: 100%;
    width: 100%;
}
.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: flex-start;
}


.item1, .item2, .item3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100%;
    margin: 10px;
}


.item1-txt {
    border: 1px solid black;
    margin: 10px;
    width: 100%;
    height: 30%;
}

.item2-txt {
    border: 1px solid black;
    margin: 10px;
    width: 100%;
    height: 30%;
}

.item3-txt {
    border: 1px solid black;
    margin: 10px;
    width: 100%;
    height: 30%;
}

.popupinfo1 {
    width: 100%;
    height: 50%;
    border: 1px solid red;
}

.popupinfo2 {
    width: 100%;
    height: 50%;
    border: 1px solid red;
}

.popupinfo3 {
    width: 100%;
    height: 50%;
    border: 1px solid red;
}