@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 400px;
    height: 100vh;

}

.fade-in-left {
    animation: fadeInFromLeft 1s ease-out;
    font-size: 2em; 
    margin-right: 20px; 
}

.fade-in-right {
    animation: fadeInFromRight 1s ease-out;
    margin-top: 20px;
}

.profile-image {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 15px;
}

.profile-image2 {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #1dd9eb;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, #08c4d4, #30c5cf);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-buttons {
    display: flex;
    gap: 30px; 
}

.login-button, .play-btn, .aboutus-btn, .contact-btn, .FAQ-btn, .home-btn {
    background-color: #55f1f1; 
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
    height: 60px;
    width: 120px;
}

.login-button:hover, .play-btn:hover, .aboutus-btn:hover, .contact-btn:hover, .FAQ-btn:hover, .home-btn:hover {
    background-color: #14cedb; 
    color: white;
}

.FAQ-btn {
    margin-right: 40px;
}

.footer {
    position: fixed;
    font-size: 0.8em;
    left: 10px;
    bottom: 10px;
}

.footer-hr {
    border: 1px solid black;
    width: 70% ;
    align-self: center;
    position: fixed;
    margin-bottom: 10px;
}

.hellotxt {
    margin-top: 10px;
}




