body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); 
    background-image: linear-gradient(to right, #5ff4ff, #3da8af);
}

.login-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 10px; 
    align-items: center; 
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo {
    height: auto;
    width: auto;
    max-height: 150px; 
    max-width: 150px; 
    align-self: center;
    margin: 10px;
}

.login-box h1 {
    text-align: center;
    margin-bottom: 10px; 
    font-size: 2em;
    color: #333;
}

.textbox input, .passwordbox input, .emailbox input {
    border: none; 
    border-bottom: 1px solid #ccc; 
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9f9; 
    border-radius: 5px; 
    margin-bottom: 15px;
}

.loginbox button {
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

.usernameinput, .passwordinput, .emailinput {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px;
}

.submit {
    width: 300px;
    background-color: #32a3ac;
    color: white;
    transition: background-color 0.3s;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.submit:hover {
    background-color: #32c6d1;
    cursor: pointer;
}

.login-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.registernowtxt {
    text-align: center;
    margin: 10px;
}

.registernow {
    color: #32a3ac;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, #5ff4ff, #3da8af);
    border-bottom: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-image {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 15px;
}

.profile-image .header{
    width: 100px;
    height: 100px;
    object-fit: cover;
    align-items: flex-start;
    margin-left: 20px;
}

.header-buttons {
    display: flex;
}

.home-btn, .play-btn {
    background-color: #55f1f1; 
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
    height: 60px;
    width: 120px;
    margin: 10px;
}

.home-btn:hover, .play-btn:hover {
    background-color: #14cedb; 
    color: white;
}

.play-btn {
    margin-right: 40px;
}

.home-btn:hover, .play-btn:hover {
    background-color: #32c6d1;
    color: white;
}

.message-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.message-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px;
    width: 80%;
    animation: fadeIn 0.3s ease-in-out;
}

.message-icon {
    font-size: 50px;
    margin-bottom: 20px;
}

.message-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.close-btn {
    background-color: #32a3ac;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close-btn:hover {
    background-color: #32c6d1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}