@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fade-in-left {
    animation: fadeInFromLeft 1s ease-out;
    font-size: 2em;
    margin-right: 20px;
}

.fade-in-right {
    animation: fadeInFromRight 1s ease-out;
}

.profile-image {
    width: 75px;
    height: 75px;
    object-fit: cover;
}