


/* HEADERS */

@keyframes header-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100px 100px;
  }
}

.headerAnimation {
  background-color: #0bc2cf;
  background-image: url("assets/bg-square.svg");
  background-size: 100px;
  padding: 20px 0;
  animation: header-bg 3s linear infinite;
}







