@import url("https://fonts.googleapis.com/css2?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Titan One");

* {
  font-family: "Nunito", Arial, sans-serif;
  text-align: center;
}

body {
  display: flex;
  background-color: #f5f5f5;
  margin: 0;
  min-height: 100vh;
}

/* -- CLASSES -- */

.content-section {
  width: 100vw;
  height: 250px;
  gap: 25px;
}

.center-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.center-content {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.vertical-stack {
  flex-direction: column;
}

/* -- PAGE ELEMENTS -- */

/* CONTENTS */

h1 {
  font-size: 40px;
}

.home-log-in-direct-btn, .home-sign-up-direct-btn {
  height: 45px;
  border-radius: 5px;
  border: 2px solid white;
  padding: 0 75px;
  background: none;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px white;
  transition: linear 0.1s, transform 0.1s;
}

.home-log-in-direct-btn, .home-sign-up-direct-btn {
  cursor: pointer;
  transform: scale(1.02);
}

.home-log-in-direct-btn, .home-sign-up-direct-btn {
transform: scale(0.98);

}


/* HEADERS */

@keyframes header-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100px 100px;
  }
}

#header {
  background-color: #0bc2cf;
  background-image: url("assets/bg-square.svg");
  background-size: 100px;
  padding: 20px 0;
  animation: header-bg 3s linear infinite;
}

.header-content-section > button {
  color: white;
}

.header-item {
  color: white;
  margin: 10px;
}

#header-title {
  font-family: "Titan One", arial, sans-serif;
  font-weight: lighter;
  font-size: 100px;
}

#header-desc {
  font-size: 25px;
}



/* Login */


.left-login-header { 
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;

}


.top-left-logo {
  background-color:#0bc2cf ;
  font-size: 50px;
  height: 10vh;
  border: none;
  border-radius: 10px;
  margin-top: 5vh;
  margin-left: 5vh;
  margin-right: 30vw;
  box-shadow: 4px 4px rgba(0, 0, 0, .2);
  padding: 0px;
}

  .top-left-logo-txt{
    color: white;
    font-family: "Titan One", arial, sans-serif;
    font-weight: lighter;
    font-size: 50px;
    top: 0px;
  }



.sign-up-btn { 
  height: 10vh;
}