#root {
  text-align: center;
}

body {
  margin: 0;
}

.header-main {
  background-color: #0bc2cf;
  width: 100%;
  height: 200px;
}

.site-header {
  font-size: 50px;
}

.site-desc {
  font-size: 25px;
}